ranguage: java
jdk:
- oraclejdk11
install: true
addons:
  sonarcloud:
    organization: xm-online
    token:
      secure: AnVD/9K3ZTZsnhgd4T4iqShqbh8ylol7yBkplosOzF+j06IOpukuieqnXR3+01kbccc6+297RO4Wk2bvAMoWlXWb0l96Dcw/V0EwKZgVwsoNLCSXdNlLlVyMx3bgs6h/OQNO9Q8bVAFoajy7oWJhAdqKpgJQn/+kA3u8BnrTwg53TE75r+TGsbzw1mjBD0K8L5V9gjwHbwaX8+ENcVH5pQJn8LpFfVSbI1RiyRZXnMl57BEpugwSQ+WMIiA+Q0ICeEH01VsKT0y7c4tXvhQT2BHfF9KTB9hOVtn+Ow1CEBJ2PaPy/eVVFdepWSf+KxgWz3b2mii5l/ZzxbOaKo3QSrcvyCzAwxC0uc+4TlQAcbBe0fzC5USytvlJeWsor2tkFEyhvbIoy+ksyVwzuUqsHyoK4zEBAqxd768l4T11gohzIc7cNbjYdbLWtyDiqy0DcIGmOqzZny8R+8qNim2tzKFWDb6rTFnWwSXxPeI3Hk5qPDMtnqxMZx/TOUa2YYh8Us0EMlK9+XGq7sdiS36kb5HAcL7zX9RqSsKOeOYDpXicWkJfeTW3Fm/VOhXB7aEPRBt4xsRWWHdUDucObSA5iq5pGS6XHshPjejvAK9j9m6tdCKtt4g1o41oHIzVnsDGZzoFCZq3qMULGCx5Gsa3VSudcpl44+EtEEIXdE2rc7Q=
    branches:
    - master
    - main
    - LTS_v2.3.x

script:
  - set -e
  - echo "Початок Gradle clean, check та test..."
  - "./gradlew --no-daemon --refresh-dependencies clean check test"
  - echo "Gradle clean, check та test завершено. Початок bootWar..."
  - "./gradlew -x test -Pprod --no-daemon bootWar"
  - echo "bootWar завершено. Логін у Docker..."
  - docker login -u $DOCKER_USER -p $DOCKER_PASS
  - export DOCKER_REPO=$(echo  -n $TRAVIS_REPO_SLUG | sed -e 's/^xm-online\//xmonline\//g')
  - export IMAGE_BRANCH=$(echo -n $TRAVIS_BRANCH | sed -e 's/\//-/g')
  - export PROJECT_VERSION="$IMAGE_BRANCH"
  - if [ "$TRAVIS_PULL_REQUEST" == "false" ];
    then
        PROJECT_VERSION=$(./gradlew -q  getProjectVersion);
        export SONAR_PK=$(echo  -n $TRAVIS_REPO_SLUG | sed -e 's/\//:/g');
        TAGS="$PROJECT_VERSION $PROJECT_VERSION-$TRAVIS_BUILD_NUMBER $(echo $PROJECT_VERSION | awk -F '.' '{printf $1"."$2" "$1}') latest";
    fi
  - docker build -t app-docker-img --label commit_id="$TRAVIS_COMMIT" --label version="$PROJECT_VERSION" --label build_number="$TRAVIS_BUILD_NUMBER" --label build_url="$TRAVIS_BUILD_WEB_URL" --label git_url="$TRAVIS_REPO_SLUG" --label commit_message="$TRAVIS_COMMIT_MESSAGE" -f src/main/docker/Dockerfile .
  - for TAG in $TAGS;
    do
        docker tag app-docker-img $DOCKER_REPO:$TAG;
        docker push $DOCKER_REPO:$TAG;
    done

cache:
  directories:
  - "~/.gradle"
  - "~/.m2"
env:
  global:
  - secure: qEXYGGyvUzMXdu0ddksUB/UFLEIXO07TVZovSNTAGjKkgsAfRoTjLP4eZ6NxIIYrsO8yWmMkyeQzpJZy2v7H1rLoYuT7PXtLBaVN0NN7J8yb2JYu99/oQSUTTTuE5NneP3g84AYbbRGNiKr4si3JRSqK+vpixxhPuAgV1VE8fcFvKTWlao41uRPvkjNPO1e9872xcZ9oZX7zbRuJ7o6Rqx8IL23/mWd9k/N9cap6lxXBk2WNzepmP2lIVMXfPE6YUvSBNMM4R/HoXR2s2zVVRc/xJDaQu/uKOttOVFeXDGfkAq6I336B+BDKpW4fdMhSAlnsw0FBrb/Sbj7jPWUm+XcDBaV7tfvKWhNW8Oj8CD95UXdE9tVKzN12k35LhT0j9AxxmIq98Xnyz/l0cD41y2RAbyEY3+4QCzFim19iRB9ZDshKQi4d2CZl+QpEr0sYsn+3oehF1rrtiItXipHYymEwdiHDCdzWIx+VJMyIDX9VdMlAxvOx1N0SMo2jOHe+mNigHqCLLvqv2ZPakT3SC3o053IIbQ7MozUYeDcUjxw+UqHy2HzgGPqGRqZwxy/OwopVh8k5DNRgT3ma4oGWjZ417xzSEp3OrHWyLnzrDA/W6+kEe1xzygZoQtTSGHGZ/3S5iEcecHd+tIveKkzB+6ispZUEhPP3G1OhTss+Il0=
  - secure: N5n8+nW71onqEUkAeB9ZJ9I1HiUxyAdfk2CepgOk32WxU22qRf6pCTDyShj9YrkCsoCdYN74qty4zjKbHY4Wyr+jpm/kBifxMYmPuve/4RaOsytmWEpcoQX7N7PH4ncTbZmF3uaIU7BLo9MgjbTIW4TNQ8gocBKW8B801ODywJis63KTz/sEB5QMVREO3xj8iCE7IxV6opTxDux3+BMsw5MPfKr/M0bJl3yOM4r5llA+JWIwfyRkeoTvtoutB5Fw781jcXUVqwIyVlIJbdfyBqQN5yudxAkpkgSuRSbi9sARiOmjXDHHaakWH7j4CumWKwnv0ZsZJ663lyQfKS3A+RN1MPf+BqwZG0gZnbkcJdvejw30b92jKIb6tc4qirXK5N8tVYByzBT8RgVUQMkszX8YU8+yt0ardgaM3eOR2L3X2h/e7pJX+6EXuRAySy45syAqfx5Aoeimg6RH3gu5lxQXms9zKgQu+KPYE+mZXQh5YBmd8HejV1yuzcT4kQ8GvDGk7WTI78U0cVuCeCWA5zvIAw7pHBkFBuOA0ah+HAyw0itgRsZfDV1XelgXY144vxIfHWqz9pSbkTvCJtmICp5egX2aO7aXVqpTCk4DaDHHoxfFCyjt8cXOAmgFL8EBZAAXDXB+J53KlnDFrL4H0vHx6KubkRv4yFvpo4Sw0rk=
notifications:
  slack:
    rooms:
      secure: eHvxMZJsCw0vBFWkSsL8YIwam4b43HppJ2m9I+QhW6v/oG7LdxxKeDjpTOn7ramXZxxGZEqibA5QjilMqnraPzHy3lqo7x8+LQXMN5sfDI/B6TZmWZ5r2oEr384L3p02xLwalA2I18xjPwWEQFdERL4wzJNvvXIki/T3X3GGi4pglAfyM6gLTsP0H0fA4WSj8e6Z9Ap7B1UD3tcwKk6+9vbJUEmc+HTx6my317hkmbi/I6mXZb9p63q2yvKnjEaU8vlULYls3gPxQDrozLbDMN5dFATS2p5mqrJVNY8r3gcJb0l38eFVzl09YWiNTfEWgT9k1zi3O9FF8GG2VyJQv8i4LGcwZE1Wrdd1iakWugXlHTnROD1wjmgIwN7f0UBX6VXztJ92NXqKus5CkfBioksi45uHLJJFbnz8vMXQCCkidW/VVg91GitMjN1s16JcXbBbQMShpmZ07Jub+zn7pIy2y6xHGQSRe3Z2wf7rI8VjqyH3OnuGT/HLLEaslGWuPTSaswoO1HljG61ttjoPk1czfeABeNQGzmzYgPEVENBRhjr46AR95Thyjbo803B/fsk/uFDVAVrLZZAveqQvl7gNcewLyRetDWKm95GM30Sl8vZkhHXJc9OIHu17QOnsjTKaBa2J6CVTT+E3f6Fc5Pyr4FxfZN/FK99MDf6GWFg=
branches:
   only:
     - master
     - main
     - LTS_v2.3.x
